.masthead {
    margin: auto;
    max-width: 900px;
    width: 100%;
}

.logo {
    max-width:400px;
}

a:link, a:visited {
    color: rgb(101, 122, 225);
    text-decoration: none;
}
.whitespace{
    height: 50px;
}

header{
    display: flex;
    background-color: rgb(16, 35, 59);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.548);
    min-height: 300px;
    background-image: url(Images/rendering_b_final.jpg);
    background-size: cover;
    background-position-y: -40px;
    background-blend-mode: overlay;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: rgb(247, 247, 247);
}
.gallery-row .gallery-item img:last-of-type{
    margin-right: 0;
}

.gallery-row{
    display: flex;
    padding-bottom: 25px;
}

.gallery-item{
    position: relative;
    margin: auto;
}
.gallery-item img{
    max-width: 250px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
.description {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0px;
    background-color: #ffffffb0;
    font-size: 14px;
}

/* carousel */

.slide {
    text-align: center;
    margin: 0 5px;
}

.slide img {
max-width: 100%;
margin-bottom: -5px;
}

.carousel{
    margin: 100px 0;
    margin-top: 0;
    position: relative;
    display: none;
}
.wrapper {
    position: relative;
    overflow: hidden;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.31);
    margin-bottom: 6px;
}

.description {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: #ffffffb0;
    font-size: 14px;
}

.slide-select-btn{
    background-color: #c9c9c9;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
.slide-select-btn.selected {
    background-color: rgb(55, 11, 216);
}
.select-btns {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.content {
    font-size: 1.125em;
    margin: auto;
    line-height: 1.6em;
    letter-spacing: -.003em;
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: start;
    padding-bottom: 0px;
}

.content p{
    color: rgba(22, 22, 22, 0.8);
}
.content h2{
    font-weight: bold;
    color: rgba(16, 35, 59, 0.9);
}

h3{
    color: rgba(16, 35, 59, 0.9);
}

p { 
    padding: 0px 0px;
    color: rgb(165, 165, 165);
}

.container h3{
    margin-top: 0px;
}
.container{
    flex: 1;
}
.container p{
    padding-right: 20px;
}

.container img{
    max-width: 100%;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}

h1{
    margin-top: -40%;
    position: relative;
    text-align: center;
    margin-bottom: 40%;
    color: whitesmoke;
}
button{
    background-color:rgb(16, 35, 59);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 10px 50px;
    font-size: 1.125em;
    cursor: pointer;
    }
button:hover{
    background-color:rgba(20, 60, 108);
    border: none
}

p:last-of-type {
    margin-bottom: 40px;
}

.breakline{
    width: 60px;
    background-color: #303030;
    height: 2px;
    position: relative;
    display: block;
    margin: 10px auto 20px;
}
/* carousel start */
.direction-arrow {
    font-size: 64px;
    color: #303030;
    top: 35%;
    cursor: pointer;
    padding: 10px;
    padding-bottom: 26px;
}

.previous, .next{
    cursor: pointer;
    transition: 0.6s ease;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 0px 0px 16px rgba(27, 27, 27, 0.93);
}

.previous:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

.next {
    right: 0;
  }

.arrow-outer-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.arrow-wrapper{
      max-width: 600px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 14%;
  }
/* carousel end */

.form{
    font: 80% -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 700px;
    margin: 30px auto;
    padding: 16px;
    background: rgba(225, 225, 225, 0.404);
    margin-bottom: 90px;
    border-radius: 3px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}

.form h1{
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: rgb(16, 35, 59);
    margin: -16px -16px 16px -16px;
    border-radius: 3px;
    margin: 2px;
}

.form input[type="email"]{
    max-width: 49%;
    margin-right: 1%;
}
.form input[type="text"]:first-of-type{
    max-width: 24%;
    margin-right: 1%;
}

.form select[class="Anrede"]{
    max-width: 24%;
    margin-right: 1%;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form textarea,
.form select{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 4%;
    border: 1px solid rgb(252, 252, 255);
    border-radius: 3px;
    padding: 3%;
    color: #555;
    font: 95% -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form textarea:focus,
.form select:focus {
    box-shadow: 0 0 5px rgb(50, 50, 82);
    padding: 3%;
    border: 1px solid rgb(50, 50, 82);
    border-radius: 3px;
}

.form input[type="submit"],
.form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 50px;
    background: rgb(16, 35, 59);
    border-radius: 3px;
    border:none; 
    color: rgb(255,255,255);
    font-size: 140%;
    cursor: pointer;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover{
    background: rgb(20, 60, 108);
}

footer {
    font-size: 16px;
    background: rgba(16, 35, 59);
    color: rgb(181, 181, 181);
    padding: 20px 40px;
    background-image: url(Images/rendering_b_final.jpg);
    background-size: cover;
    background-position-y: bottom;
    background-blend-mode: overlay;
}

.sub-footer{
    background-color: rgb(20, 60, 108);
    padding: 10px 40px;
    min-height: 65px;
}
.column-copyright{
    padding-top: 15px;
    color: rgb(181, 181, 181);
}

.footer-logo img {
    width: 100%;
    max-width: 250px;
    margin: 20px 0;
}
.footer-links a{
    margin-right: 30px;
}
.footer-links{
    padding-top: 15px;
}
.footer-links a:link, .footer-links a:visited {
    color: rgb(84, 105, 173);
}

.row {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 900px;
    width: 100%;
}

.modal-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.modal-overlay.visible {
    visibility: visible;
}

.modal-content {
    width: 100%;
    max-width: 440px;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 10px 15px -7px rgba(0,0,0,0.75);
    text-align: center;
}

/* Mobile styles */
@media screen and (max-width: 950px) {
    header, .content, .footer, .sub-footer{
        padding: 0 20px;
    }
}

@media screen and (max-width: 830px){
    .gallery{
        display: none
    }
    .carousel{
        display: block;
    }
}

@media screen and (max-width: 800px) {
    header, .content, .footer, .sub-footer{
        padding: 0 20px;
    }
    .logo{
        max-width: 90%;
    }
    .form input[type="email"],
          input[type="text"]:first-of-type,
          select[class="Anrede"]{
        max-width: 100%;
    }
    .footer{
        background-position: bottom;
    }
}

@media screen and (max-width: 600px) {
    header, .content, .footer, .sub-footer{
        padding: 0 20px;
    }
    header{
        background-position-y: 0;
    }
    .carousel{
        display: block;
    }
    .gallery{
        display: none
    }
    .gallery-row{
        flex-direction: column;
    }
    .row {
        flex-direction: column;
    }
    .form h1{
        font-weight: 500;
        text-align: initial;
    }
    .form input[type="email"]{
        max-width: 100%;
    }
    .form input[type="text"]:first-of-type{
        max-width: 100%;
    }
    .form select[class="Anrede"] {
        max-width: 100%;
    }
    .footer{
        background-position-y: bottom;
    }
     .sub-footer{
        padding-bottom: 40px;
    }
    .logo{
        max-width: 350px;
    }
    .content{
        margin: 0px;
        padding: 20px;
    }
}