.masthead {
    margin: 30px auto;
    max-width: 800px;
    width: 100%;
}
.logo {
    max-width:225px;
}
a:link, a:visited {
    color: rgb(101, 122, 225);
    text-decoration: none;
}

.slide {
    text-align: center;
    margin: 0 5px;
}

.slide img {
max-width: 100%;
margin-bottom: -5px;
}

.header-links a{
    margin: 30px 50px; 
}

header{
    display: flex;
    background-color: rgb(16, 35, 59);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.548)
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.carousel{
    margin: 100px 0;
    margin-top: 0;
    position: relative;
}

.wrapper {
    position: relative;
    overflow: hidden;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.31);
    margin-bottom: 6px;
}

.description {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: #ffffffb0;
    font-size: 15px;
}

.slide-select-btn{
    background-color: #c9c9c9;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.slide-select-btn.selected {
    background-color: rgb(55, 11, 216);
}
.select-btns {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.content {
    font-size: 16px;
    color: rgba(22, 22, 22, 0.8);
    margin: auto;
    line-height: 1.6em;
    letter-spacing: -.003em;
    max-width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 40px;
    text-align: start;
    padding-bottom: 0px;
}

p { 
    padding: 0px 0px;
}

p:last-of-type {
    margin-bottom: 60px;
}

.breakline{
    width: 60px;
    background-color: #303030;
    height: 2px;
    position: relative;
    display: block;
    margin: 10px auto 20px;
}

.direction-arrow {
    font-size: 64px;
    color: #303030;
    top: 35%;
    cursor: pointer;
    padding: 10px;
    padding-bottom: 26px;
}

.previous, .next{
    cursor: pointer;
    transition: 0.6s ease;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 0px 0px 16px rgba(27, 27, 27, 0.93);
}

.previous:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

.next {
    right: 0;
  }

.arrow-outer-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.arrow-wrapper{
      max-width: 600px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 14%;
  }

.form-style-6{
    font: 80% -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 550px;
    margin: 30px auto;
    padding: 16px;
    background: rgba(225, 225, 225);
    margin-bottom: 90px;
    border-radius: 10px;
}

.form-style-6 h1{
    background:rgba(225, 225, 225);
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: -16px -16px 16px -16px;
    border-radius: 10px;
    margin: 2px;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: rgb(252, 252, 255);
    margin-bottom: 4%;
    border: 1px solid rgb(252, 252, 255);
    border-radius: 10px;
    padding: 3%;
    color: #555;
    font: 95% -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea{
    max-width: 550px;
}

.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
    box-shadow: 0 0 5px rgb(50, 50, 82);
    padding: 3%;
    border: 1px solid rgb(50, 50, 82);
    border-radius: 10px;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: rgb(20, 60, 108);
    border-bottom: 2px solid rgb(225, 225, 225);
    border-radius: 7px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: rgb(255,255,255);
    font-size: 140%;
    cursor: pointer;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: rgb(16, 35, 59);
}
.checkbox_text p{
    margin: 0px;
}

footer {
    font-size: 16px;
    background: rgba(16, 35, 59);
    color: rgb(181, 181, 181);
    padding: 20px 40px;
}

.sub-footer{
    background-color: rgb(20, 60, 108);
    padding: 10px 40px;
}
.column-copyright{
    padding-top: 15px;
    color: rgb(181, 181, 181);
}

.footer-logo img {
    width: 100%;
    max-width: 250px;
    margin-top: 20px;
}
.footer-links a{
    margin-right: 30px;
}
.footer-links{
    padding-top: 30px;
}
.footer-links a:link, .footer-links a:visited {
    color: rgb(181, 181, 181);
}

.row {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
}

@media screen and (max-width: 860px) {
    .logo{
        padding-left: 20px;
    }
}
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
    footer {
        padding: 20px;
    }
    .sub-footer{
        padding: 20px;
    }
    .logo{
        padding-left: 20px;
    }
    .content{
        margin: 0px;
        padding: 20px;
    }
}
